ExonSurfer/__pycache__/*
ExonSurfer/resources/temp/*
ExonSurfer/resources/db/*
ExonSurfer/resources/*/*txt
ExonSurfer/resources/db/*/*fna*
ExonSurfer/resources/db/*/table.txt
ExonSurfer/resources/__pycache__/*
ExonSurfer/blast/__pycache__/*
ExonSurfer/ensembl/__pycache__/*
ExonSurfer/primerDesign/__pycache__/*
