ExonSurfer/__pycache__/*
ExonSurfer/resources/temp/*
ExonSurfer/resources/db/*
ExonSurfer/resources/homo_sapiens/*
ExonSurfer/resources/homo_sapiens_masked/*
ExonSurfer/resources/mus_musculus/*
ExonSurfer/resources/rattus_norvegicus/*
ExonSurfer/resources/__pycache__/*
ExonSurfer/blast/__pycache__/*
ExonSurfer/ensembl/__pycache__/*
ExonSurfer/primerDesign/__pycache__/*
