ExonSurfer/resources/temp/*
ExonSurfer/resources/db/*
ExonSurfer/resources/Homo_sapiens/*
ExonSurfer/resources/__pycache__/*
ExonSurfer/blast/__pycache__/*
ExonSurfer/ensembl/__pycache__/*
ExonSurfer/primerDesign/__pycache__/*
